@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&family=Orienta&family=Pattaya&display=swap");

/* Usage
    font-family: 'Great Vibes', cursive;

    font-family: 'Orienta', sans-serif;

    font-family: 'Pattaya', sans-serif;
*/

body {
  width: 100vw;
  height: 100vh;
  background-color: black;
  color: white;
}

nav {
  display: flex;
  height: 10%;
  justify-content: center;
  align-items: center;
}

nav > ul {
  display: flex;
  justify-content: center;
  transform: translateY(-50px);
}

nav > ul > li {
  padding-left: 20%;
  padding-right: 20%;
}

nav > ul > li > a {
  color: #858585;
  text-decoration: none;
  font-size: 18px;
  text-shadow: 2px 2px rgb(40, 40, 40);
}

#active {
  color: #ae946a;
}

.logo {
  align-items: center;
  font-size: 22px;
  font-family: "Great Vibes", cursive;
}

.container {
  display: flex;
  height: 80%;
}

.left {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.left-content {
  margin-top: -10%;
  width: 60%;
}

.left-content > h1 {
  font-family: "Pattaya", sans-serif;
  font-size: 80px;
  margin-bottom: 40px;
  text-shadow: 0px 4px 4px rgba(255, 255, 255, 0.46);
}

.left-content > p {
  font-size: 26px;
  color: #797878;
  margin-bottom: 5px;
  text-shadow: 0px 4px 4px rgba(255, 255, 255, 0.46);
}

#golden {
  color: #ae946a;
  margin-bottom: 20px;
  letter-spacing: 8px;
}

.right {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.right > svg {
  rotate: 180deg;
  transform: scaleX(-1);
}

.container > .centerBox {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container > .centerBox > .aboutBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: translateY(-10px);
  width: 70%;
}

.circles {
  display: grid;
  grid-template-columns: auto auto;
}

.circle {
  box-shadow: 3px 3px 4px rgba(218, 218, 218, 0.3);
  width: 30px;
  height: 30px;
  background-color: white;
  border-radius: 50%;
}

.circle:nth-child(2) {
  background-color: #ae946a;
}

.circle:nth-child(3) {
  background-color: #ae946a;
}

.circle:nth-child(6) {
  background-color: #ae946a;
}

.container > .centerBox > .aboutBox > h1 {
  font-family: "Pattaya", sans-serif;
  font-size: 80px;
  margin-bottom: 40px;
  text-shadow: 0px 4px 4px rgba(255, 255, 255, 0.46);
}

.container > .centerBox > .aboutBox > .textBox > p {
  font-size: 28px;
  line-height: 1.4;
  color: #797878;
  text-align: justify;
  margin-bottom: 5px;
  text-shadow: 0px 4px 4px rgba(255, 255, 255, 0.46);
}

.container > .content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container > .content > h1 {
  font-family: "Pattaya", sans-serif;
  font-size: 80px;
  margin-bottom: 40px;
  text-shadow: 0px 4px 4px rgba(255, 255, 255, 0.46);
}

.contactCirs {
  margin-top: 100px;
  display: flex;
}

.contColumn {
  text-align: center;
}

.contColumn > p {
  padding-top: 20px;
  font-family: Orienta;
  color: #ae946a;
}

.contactCir {
  border-radius: 50%;
  border: 1px solid #ae946a;
  width: 100px;
  height: 100px;
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #171818;
  text-decoration: none;
  transition: all 200ms;
}

.contactCir > i {
  color: whitesmoke;
}

.contactCir:hover {
  scale: 1.1;
  transform: rotate(10deg);
}

footer{
  height: 10%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

footer > p{
  margin-right: 50px;
}

@media (min-width: 650px) {
  .contactCir > i{
    scale: 2;
  }
}

@media (max-width: 960px) {
  .right {
    display: none;
  }
  .left {
    width: 100%;
  }
  .left-content > p {
    font-size: 20px;
  }
  .container > .centerBox > .aboutBox > h1 {
    font-size: 50px;
  }
  .container > .centerBox > .aboutBox > .textBox > p {
    font-size: 24px;
  }
  .contColumn > p {
    font-size: 16px;
  }
  .contactCir {
    width: 80px;
    height: 80px;
  }
}

@media (max-width: 650px) {
  .container > .centerBox > .aboutBox > h1 {
    font-size: 40px;
  }
  .container > .centerBox > .aboutBox > .textBox > p {
    font-size: 20px;
  }
  .contColumn > p {
    font-size: 14px;
  }

  .contactCir {
    width: 50px;
    height: 50px;
    margin-left: 10px;
    margin-right: 10px;
  }
}

@media (max-width: 460px) {
  .container > .centerBox > .aboutBox > h1 {
    font-size: 40px;
  }
  .container > .centerBox > .aboutBox > .textBox > p {
    font-size: 15px;
  }

  .contColumn > p {
    font-size: 10px;
  }

  .contactCir {
    width: 30px;
    height: 30px;
    margin-left: 10px;
    margin-right: 10px;
  }
}
