@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css');
@import url('https://fonts.googleapis.com/css?family=Raleway:400,400i,700');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@200;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@200;300&family=Noto+Serif&family=Quicksand:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  background: white;
  height: 100vh;
  line-height: 1.6;
}

.container {
  width: 100%;
  height: 100%;
}

.dark-mode {
  background-color: #333;
  color: white;
}

.navbar {
  font-family: 'Quicksand', sans-serif;
  position: fixed;
  top: 0;
  z-index: 1;
  display: flex;
  width: 100%;
  height: 60px;
  background: rgba(0, 0, 0, 0.7);
  transition: height 1s ease;
}

.navbar ul {
  display: flex;
  list-style: none;
  width: 100%;
  background: #d3d3d3;
  justify-content: center;
}

.navbar ul li {
  margin: 0 1rem;
  padding: 1rem;
}

.navbar ul li a {
  text-decoration: none;
  text-transform: uppercase;
  color: black;
}

.icon-back i:hover {
  color: skyblue;
}

.dark-mode .icon-back i {
  color: white !important;
}

.dar-mode .icon-back i:hover {
  color: skyblue !important;
}

.burger {
  display: none;
  cursor: pointer;
  right: 5%;
}

.burger div {
  flex-direction: column;
  height: 4px;
  width: 30px;
  margin: 4px;
  background-color: white;
  transition: all 0.5s ease;
}

.line2 {
  opacity: 0%;
}

.iconMoon {
  display: block;
  position: absolute;
  cursor: pointer;
  margin-right: 92.5%;
  margin-top: 15px;
}

.dark-mode .iconMoon {
  display: none;
}

.iconSun {
  display: none;
  position: absolute;
  cursor: pointer;
  margin-right: 92.5%;
  margin-top: 15px;
}

.dark-mode .iconSun {
  display: block;
}

.dark-mode {
  background-color: #333;
  color: white;
}

.dark-mode .navbar ul {
  background: black;
}

.dark-mode .navbar ul li a {
  color: white;
}

section {
  display: flex;
  position: static;
  flex-direction: column;
  width: 100%;
  height: 100%;
  scroll-snap-align: center;
  font-family: 'Roboto', sans-serif;
}

section h1 {
  font-size: 3rem;
}

section#main {
  justify-content: center;
  text-align: center;
}

.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  transition: .5s ease;
  backface-visibility: hidden;
  width: 100%;
  opacity: 1;
}

.column img:hover{
  -webkit-transition: all .3s ease-in;
  -moz-transition: all .3s ease-in;
  -ms-transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
  transition: all .3s ease-in;
  opacity: 1;
  transform: scale(1.15);
  -ms-transform: scale(1.15); /* IE 9 */
  -webkit-transform: scale(1.15); /* Safari and Chrome */
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

@media screen and (max-width: 800px) {
  .column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
}

@media screen and (max-width: 600px) {
  .column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}

.showNav {
  pointer-events: inherit !important;
  opacity: 1 !important;
  transition: all 2s ease-in;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background-color: rgb(17, 17, 17);
  width: 15px;
}

::-webkit-scrollbar-thumb {
  background-color: skyblue;
  width: 15px;
}

@media screen and (min-width: 769px) {
}

@media screen and (max-width: 768px) {

  .navbar-list {
    flex-direction: column;
  }

  .navbar ul {
    display: flex;
    list-style: none;
    width: 100%;
    background: gray !important;
    justify-content: center;
  }

  .dark-mode .navbar ul {
    background: black;
  }

  .navbar ul li {
    margin: 0 1rem;
    padding: 1rem;
  }

  .navbar ul li a {
    text-decoration: none;
    text-transform: uppercase;
    color: black;
  }

  .dark-mode .navbar ul li a {
    color: white;
  }

  .icon-back i {
    color: black;
    display: none !important;
  }

  .dark-mode .icon-back i {
    color: white !important;
    display: none !important;
  }

  .burger {
    display: block;
    margin-top: 2%;
    margin-right: 2%;
  }

  .toggle .line1 {
    transform: rotate(-45deg) translate(-3px, 8px);
  }
  .toggle .line2 {
    opacity: 0;
  }
  .toggle .line3 {
    transform: rotate(45deg) translate(-3px, -8px);
  }
}