@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css');
@import url('https://fonts.googleapis.com/css?family=Raleway:400,400i,700');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@200;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@200;300&family=Noto+Serif&family=Quicksand:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
  line-height: 1.6;
}

.container {
  width: 100%;
  height: 100%;
}

.lead {
  font-size: 1.5rem;
  font-family: 'Play', sans-serif;
}

.navbar {
  font-family: 'Quicksand', sans-serif;
  position: fixed;
  top: 0;
  z-index: 1;
  display: flex;
  width: 100%;
  height: 60px;
  background: rgba(0, 0, 0, 0.7);
  transition: height 1s ease;
}

.navbar ul {
  display: flex;
  list-style: none;
  width: 100%;
  background: #d3d3d3;
  justify-content: center;
}

.progress-container {
  position:absolute;
  width: 100%;
  height: 4px;
}

.progress-bar {
  position: absolute;
  height: 6px;
  background: black;
  width: 0%;
}

.dark-mode .progress-bar{
  background: skyblue;
}


.navbar ul li {
  margin: 0 1rem;
  padding: 1rem;
}

.navbar ul li a {
  text-decoration: none;
  text-transform: uppercase;
  color: black;
}

.backSize {
  padding: 20px;
}

.navbar ul li a:hover {
  color: skyblue;
}

.icon-back i {
  display: block;
  background: none;
  color: black;
  line-height: 3.6rem;
  position: absolute;
}

.icon-back i:hover {
  color: skyblue;
}

.dark-mode .icon-back i {
  color: white !important;
}

.dar-mode .icon-back i:hover {
  color: skyblue !important;
}

.burger {
  display: none;
  cursor: pointer;
  right: 5%;
}

.burger div {
  flex-direction: column;
  height: 4px;
  width: 30px;
  margin: 4px;
  background-color: white;
  transition: all 0.5s ease;
}

.line2 {
  opacity: 0%;
}

.iconMoon {
  display: block;
  position: absolute;
  cursor: pointer;
  margin-right: 92.5%;
  margin-top: 15px;
}

.dark-mode .iconMoon {
  display: none;
}

.iconSun {
  display: none;
  position: absolute;
  cursor: pointer;
  margin-right: 92.5%;
  margin-top: 15px;
}

.dark-mode .iconSun {
  display: block;
}

.dark-mode {
  background-color: #333;
  color: white;
}

.dark-mode .navbar ul {
  background: black;
}

.dark-mode .navbar ul li a {
  color: white;
}

section {
  display: flex;
  position: static;
  flex-direction: column;
  width: 100%;
  height: 100%;
  scroll-snap-align: center;
  font-family: 'Roboto', sans-serif;
}

section h1 {
  font-size: 3rem;
}

section#base {
  justify-content: center;
  text-align: center;
}


section#HTML {
  justify-content: center;
  text-align: center;
}

section#CSS {
  justify-content: center;
  text-align: center;
}

section#Javascript {
  justify-content: center;
  text-align: center;
}

section#CS {
  justify-content: center;
  text-align: center;
}

section#under {
  background-color: #131313;
  height: 70px;
  font-family: 'IBM Plex Mono';
  justify-content: center;
  text-align: center;
}

.var-highlight {
  color: #c0ad60;
}
.string-highlight {
  color: rgba(253, 149, 90, 0.8);
}

#typewriter {
  font-size: 1.55em;
  font-family: 'Courier New';
}
#typewriter:after {
  content: '|';
  animation: blink 500ms linear infinite alternate;
}

@-webkit-keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.showNav {
  pointer-events: inherit !important;
  opacity: 1 !important;
  transition: all 2s ease-in;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background-color: rgb(17, 17, 17);
  width: 15px;
}

::-webkit-scrollbar-thumb {
  background-color: skyblue;
  width: 15px;
}

@media screen and (min-width: 769px) {
}

@media screen and (max-width: 768px) {
  section h1 {
    text-align: center;
    justify-content: center;
    font-size: 3.5rem;
  }
  section p {
    text-align: center;
    justify-content: center;
  }

  .navbar-list {
    flex-direction: column;
  }

  .navbar ul {
    display: flex;
    list-style: none;
    width: 100%;
    background: gray !important;
    justify-content: center;
  }

  .dark-mode .navbar ul {
    background: black;
  }

  .navbar ul li {
    margin: 0 1rem;
    padding: 1rem;
  }

  .navbar ul li a {
    text-decoration: none;
    text-transform: uppercase;
    color: black;
  }

  .dark-mode .navbar ul li a {
    color: white;
  }

  .navbar ul li a:hover {
    color: skyblue;
  }

  .back {
    width: 100%;
    height: 100%;
  }

  .icon-back i {
    color: black;
    display: none !important;
  }

  .dark-mode .icon-back i {
    color: white !important;
    display: none !important;
  }

  .burger {
    display: block;
    margin-top: 2%;
    margin-right: 2%;
  }

  .toggle .line1 {
    transform: rotate(-45deg) translate(-3px, 8px);
  }
  .toggle .line2 {
    opacity: 0;
  }
  .toggle .line3 {
    transform: rotate(45deg) translate(-3px, -8px);
  }
}
